<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Register Students whith CSV file upload! 
  </h1>
</div>
  <div class="upload-container">
    <input class="select-file-option" type="file" name="upload" ng2FileSelect [uploader]="uploader" />
    <button class="button-upload" type="button" name="button-upload" (click)="uploader.uploadAll()"
      [disabled]="!uploader.getNotUploadedItems().length">
      Upload PDF
    </button>
  </div>
  <div>
    <h2>Create student</h2>
    <form>
      <div>
        <label for="Name">Name</label>
        <input type="text"  name="name" [(ngModel)]="student.name">
        <label for="LastName">Last Name</label>
        <input type="text" name="lastname" [(ngModel)]="student.lastname">
      </div>
      <div>
        <label for="Grade">Grade</label>
        <select name="grade" id="grade" [(ngModel)]="student.grade">
          <option  name="kinder" value="Kinder">Kinder</option>
          <option name="high" value="High">High</option>
        </select>
      </div>
      <div>
        <input class="button" type="button" value="submit">
      </div>
      name{{ student.name}} <br>
      lastname{{ student.lastname}} <br>
      grade{{ student.grade}} <br>
    </form>
    
  </div>

  <div *ngIf="allStudents">
    <h2>Student list</h2>
    {{ allStudents }}
  </div>
  <div>
    
    
  </div>
<router-outlet></router-outlet>
